@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  background-color: #020617; 
  color: #f8fafc;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; 
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
